body {
  font-family: "Roboto", sans-serif;
  background-color: #b3babd;
  color: #163158;
}

p {
  font-size: 25px;
  display: inline-block;
}

ol {
  padding: 15px;
}

.initials {
  display: none;
  width: 250px;
  height: 30px;
  font-size: large;
  margin-left: 7%;
}
.submit-initials {
  display: none;
  width: 114px;
  height: 27px;
  margin-left: 30px;
}

.try-again {
  display: none;
  width: 114px;
  height: 27px;
  margin-left: 30px;
}
li {
  height: 25px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 50px;
  padding: 5px;
  width: fit-content;
  background-color: #161553;
  border-radius: 20px;
  color: white;
  font-size: 1.1em;
  line-height: 1.5;
}

li:hover {
  background-color: #1c83c8;
  cursor: pointer;
}
.challange-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d6dbf3;
  border: 1px solid #1c83c8;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(42, 43, 44, 0.15) 0 2px 4px 3px;
  margin: 50px auto;
  padding: 20px;
  width: 60vw;
}

.challange-text p {
  font-size: 24px;
}
.challange-text p:nth-child(1) {
  font-size: 35px;
}

.start-quiz {
  height: 100px;
  width: 200px;
  display: block;
  margin-left: 40%;
  font-size: 1.5em;
}

.timer,
.highscores {
  display: inline-block;
  margin-left: 25%;
}

.question-card {
  display: none;
  background-color: #d6dbf3;
  border: 1px solid #1c83c8;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(42, 43, 44, 0.15) 0 2px 4px 3px;
  margin: 50px auto;
  padding: 20px;
  width: 85vw;
}

#highscores-list {
  background-color: #161553;
  color: antiquewhite;
  font-size: 42px;
  border-radius: 25px;
  display: none;
}
